<h3>Main Page</h3>
<p>guss what i m thinking about [a,b]</p>
<input id="text" type="text">
<button onclick="myFunctiion">try</button>
<p id="demo"></p>
<script>
function myFunction(){

var latter = 

};
</script>